<p-toast position="top-center"></p-toast>

<h1>Cadastrar Cliente</h1>

<div class="row col-md-12" style="margin-top: 2%; margin-left: 10%;">
    <div class="row col-md-4">
        <p class="espacoImput">Nome do cliente</p>
        <input (keyup)="selecionaimput(1,$event)" class="espacoImput form-control">
    </div>
    <div class="row col-md-2">
        <p class="espacoImput">CPF</p>
        <input (keyup)="selecionaimput(2,$event)" class="espacoImput form-control">
    </div>
    <div class="row col-md-2">
        <p class="espacoImput">Data de nascimento</p>
        <input (keyup)="selecionaimput(3,$event)" class="espacoImput form-control">
    </div>

</div>

<div class="row col-md-12" style="margin-top: 2%; margin-left: 10%;">
    <div class="row col-md-2">
        <p class="espacoImput">RG</p>
        <input (keyup)="selecionaimput(4,$event)" class="espacoImput form-control">
    </div>
    <div class="row col-md-2">
        <p class="espacoImput">N° CNH</p>
        <input (keyup)="selecionaimput(5,$event)" class="espacoImput form-control">
    </div>
    <div class="row col-md-2">
        <p class="espacoImput">Categoria</p>
        <input (keyup)="selecionaimput(6,$event)" class="espacoImput form-control">
    </div>
    <div class="row col-md-2">
        <p class="espacoImput">Validade CNH</p>
        <input (keyup)="selecionaimput(7,$event)" class="espacoImput form-control">
    </div>

</div>

<div class="row col-md-12" style="margin-top: 2%; margin-left: 10%;">
    <div class="row col-md-2">
        <p class="espacoImput">CEP</p>
        <input (keyup)="selecionaimput(8,$event)" class="espacoImput form-control">
    </div>
    <div class="row col-md-4">
        <p class="espacoImput">Logradouro</p>
        <input (keyup)="selecionaimput(9,$event)" class="espacoImput form-control">
    </div>
    <div class="row col-md-2">
        <p class="espacoImput">Bairro</p>
        <input (keyup)="selecionaimput(10,$event)" class="espacoImput form-control">
    </div>
</div>

<div class="row col-md-12" style="margin-top: 5%; margin-left: 10%;">
    <div class="row col-md-2">
        <p class="espacoImput">Complemento</p>
        <input (keyup)="selecionaimput(11,$event)" class="espacoImput form-control">
    </div>
    <div class="row col-md-2">
        <p class="espacoImput">Cidade</p>
        <input (keyup)="selecionaimput(12,$event)" class="espacoImput form-control">
    </div>
    <div class="row col-md-2">
        <p class="espacoImput">UF</p>
        <input (keyup)="selecionaimput(13,$event)" class="espacoImput form-control">
    </div>
    <div class="row col-md-2">
        <p class="espacoImput">Telefone</p>
        <input (keyup)="selecionaimput(14,$event)" class="espacoImput form-control">
    </div>

</div>

<div class="row col-md-2" style="margin-left: 65%; margin-top: 3%;">
    <button class="btn btn-info" (click)="salvar()">Salvar</button>
</div>