<h1>Alugar veículo</h1>
<div class="row col-md-6" style="margin-left: 10%;">
    <div class="col-md-4">
        <p class="espacoImput">CPF do cliente</p>
        <input (keyup)="clienteCpf($event)" class="espacoImput form-control">
    </div>
    <div class="col-md-2">
        <p>&nbsp;&nbsp;</p>
        <button (click)="consultarCliente()" class="espacoImput btn btn-info">Pesquisar</button>
    </div>
</div>

<div *ngIf="mostraFormulario">
    <div class="row col-md-12" style="margin-top: 2%; margin-left: 10%;">
        <div class="row col-md-4">
            <p class="espacoImput">Nome do cliente</p>
            <input disabled value="{{objetoFormulario.nome}}" class="espacoImput form-control">
        </div>
        <div class="row col-md-2">
            <p class="espacoImput">CPF</p>
            <input disabled value="{{objetoFormulario.cpf}}" class="espacoImput form-control">
        </div>
        <div class="row col-md-2">
            <p class="espacoImput">Data de nascimento</p>
            <input disabled value="{{objetoFormulario.dtNascimento}}" class="espacoImput form-control">
        </div>

    </div>

    <div class="row col-md-12" style="margin-top: 2%; margin-left: 10%;">
        <div class="row col-md-2">
            <p class="espacoImput">RG</p>
            <input disabled value="{{objetoFormulario.rg}}" class="espacoImput form-control">
        </div>
        <div class="row col-md-2">
            <p class="espacoImput">N° CNH</p>
            <input disabled value="{{objetoFormulario.cnh}}" class="espacoImput form-control">
        </div>
        <div class="row col-md-2">
            <p class="espacoImput">Categoria</p>
            <input disabled value="{{objetoFormulario.categoria}}" class="espacoImput form-control">
        </div>
        <div class="row col-md-2">
            <p class="espacoImput">Validade CNH</p>
            <input disabled value="{{objetoFormulario.dtValidadeCnh}}" class="espacoImput form-control">
        </div>

    </div>

    <div class="row col-md-12" style="margin-top: 2%; margin-left: 10%;">
        <div class="row col-md-2">
            <p class="espacoImput">CEP</p>
            <input disabled value="{{objetoFormulario.cep}}" class="espacoImput form-control">
        </div>
        <div class="row col-md-4">
            <p class="espacoImput">Logradouro</p>
            <input disabled value="{{objetoFormulario.logradouro}}" class="espacoImput form-control">
        </div>
        <div class="row col-md-2">
            <p class="espacoImput">Bairro</p>
            <input disabled value="{{objetoFormulario.bairro}}" class="espacoImput form-control">
        </div>
    </div>

    <div class="row col-md-12" style="margin-top: 3%; margin-left: 10%;">
        <div class="row col-md-2">
            <p class="espacoImput">Complemento</p>
            <input disabled value="{{objetoFormulario.complemento}}" class="espacoImput form-control">
        </div>
        <div class="row col-md-2">
            <p class="espacoImput">Cidade</p>
            <input disabled value="{{objetoFormulario.cidade}}" class="espacoImput form-control">
        </div>
        <div class="row col-md-2">
            <p class="espacoImput">UF</p>
            <input disabled value="{{objetoFormulario.uf}}" class="espacoImput form-control">
        </div>
        <div class="row col-md-2">
            <p class="espacoImput">Telefone</p>
            <input disabled value="{{objetoFormulario.telefone}}" class="espacoImput form-control">
        </div>
    </div>


    <div class="row col-md-12" style="margin-top: 2%; margin-left: 10%;">
        <div class="row col-md-2">
            <p class="espacoImput">Veículo</p>
            <input (keyup)="selecionaimput(1,$event)" class="espacoImput form-control">
        </div>
        <div class="row col-md-2">
            <p class="espacoImput">Placa</p>
            <input (keyup)="selecionaimput(2,$event)" class="espacoImput form-control">
        </div>
        <div class="row col-md-2">
            <p class="espacoImput">Quantidade diária</p>
            <input type="number" (keyup)="selecionaimput(3,$event)" class="espacoImput form-control">
        </div>
        <div class="row col-md-2">
            <p class="espacoImput">Valo diária</p>
            <input type="number" (keyup)="selecionaimput(4,$event)" class="espacoImput form-control">
        </div>
        <div class="row col-md-2">
            <p class="espacoImput">Tota diária</p>
            <input disabled value="{{total}}" class="espacoImput form-control">
        </div>
    </div>

    <div class="row col-md-12" style="margin-top: 2%; margin-left: 10%;">
        <div class="row col-md-2">
            <p class="espacoImput">Data Locação</p>
            <input (keyup)="selecionaimput(6,$event)" class="espacoImput form-control">
        </div>
        <div class="row col-md-2">
            <p class="espacoImput">Data devolução</p>
            <input (keyup)="selecionaimput(7,$event)" class="espacoImput form-control">
        </div>
        <div class="row col-md-2">
            <p class="espacoImput">Hora da locação</p>
            <input (keyup)="selecionaimput(8,$event)" class="espacoImput form-control">
        </div>
        <div class="row col-md-2">
            <p class="espacoImput">Hora devolução</p>
            <input (keyup)="selecionaimput(9,$event)" class="espacoImput form-control">
        </div>

    </div>


    <div class="row col-md-2" style="margin-left: 65%; margin-top: 3%;">
        <button class="btn btn-info" (click)="salvar()">Salvar</button>
    </div>
</div>