<p-toast position="top-center"></p-toast>

<h1>Alterar Cliente</h1>
<div class="row col-md-6" style="margin-left: 10%;">
    <div class="col-md-4">
        <p class="espacoImput">CPF do cliente</p>
        <input (keyup)="clienteCpf($event)" class="espacoImput form-control">
    </div>
    <div class="col-md-2">
        <p>&nbsp;&nbsp;</p>
        <button (click)="consultarCliente()" class="espacoImput btn btn-info">Pesquisar</button>
    </div>
</div>

<div *ngIf="mostraFormulario">
    <div class="row col-md-12" style="margin-top: 2%; margin-left: 10%;">
        <div class="row col-md-4">
            <p class="espacoImput">Nome do cliente</p>
            <input (keyup)="selecionaimput(1,$event)" value="{{objetoFormulario.nome}}"
                class="espacoImput form-control">
        </div>
        <div class="row col-md-2">
            <p class="espacoImput">CPF</p>
            <input (keyup)="selecionaimput(2,$event)" value="{{objetoFormulario.cpf}}" class="espacoImput form-control">
        </div>
        <div class="row col-md-2">
            <p class="espacoImput">Data de nascimento</p>
            <input (keyup)="selecionaimput(3,$event)" value="{{objetoFormulario.dtNascimento}}"
                class="espacoImput form-control">
        </div>

    </div>

    <div class="row col-md-12" style="margin-top: 2%; margin-left: 10%;">
        <div class="row col-md-2">
            <p class="espacoImput">RG</p>
            <input (keyup)="selecionaimput(4,$event)" value="{{objetoFormulario.rg}}" class="espacoImput form-control">
        </div>
        <div class="row col-md-2">
            <p class="espacoImput">N° CNH</p>
            <input (keyup)="selecionaimput(5,$event)" value="{{objetoFormulario.cnh}}" class="espacoImput form-control">
        </div>
        <div class="row col-md-2">
            <p class="espacoImput">Categoria</p>
            <input (keyup)="selecionaimput(6,$event)" value="{{objetoFormulario.categoria}}"
                class="espacoImput form-control">
        </div>
        <div class="row col-md-2">
            <p class="espacoImput">Validade CNH</p>
            <input (keyup)="selecionaimput(7,$event)" value="{{objetoFormulario.dtValidadeCnh}}"
                class="espacoImput form-control">
        </div>

    </div>

    <div class="row col-md-12" style="margin-top: 2%; margin-left: 10%;">
        <div class="row col-md-2">
            <p class="espacoImput">CEP</p>
            <input (keyup)="selecionaimput(8,$event)" value="{{objetoFormulario.cep}}" class="espacoImput form-control">
        </div>
        <div class="row col-md-4">
            <p class="espacoImput">Logradouro</p>
            <input (keyup)="selecionaimput(9,$event)" value="{{objetoFormulario.logradouro}}"
                class="espacoImput form-control">
        </div>
        <div class="row col-md-2">
            <p class="espacoImput">Bairro</p>
            <input (keyup)="selecionaimput(10,$event)" value="{{objetoFormulario.bairro}}"
                class="espacoImput form-control">
        </div>
    </div>

    <div class="row col-md-12" style="margin-top: 3%; margin-left: 10%;">
        <div class="row col-md-2">
            <p class="espacoImput">Complemento</p>
            <input (keyup)="selecionaimput(11,$event)" value="{{objetoFormulario.complemento}}"
                class="espacoImput form-control">
        </div>
        <div class="row col-md-2">
            <p class="espacoImput">Cidade</p>
            <input (keyup)="selecionaimput(12,$event)" value="{{objetoFormulario.cidade}}"
                class="espacoImput form-control">
        </div>
        <div class="row col-md-2">
            <p class="espacoImput">UF</p>
            <input (keyup)="selecionaimput(13,$event)" value="{{objetoFormulario.uf}}" class="espacoImput form-control">
        </div>
        <div class="row col-md-2">
            <p class="espacoImput">Telefone</p>
            <input (keyup)="selecionaimput(14,$event)" value="{{objetoFormulario.telefone}}"
                class="espacoImput form-control">
        </div>

    </div>

    <div class="row col-md-2" style="margin-left: 65%; margin-top: 3%;">
        <button class="btn btn-info" (click)="salvar()">Salvar</button>

    </div>
</div>