<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="espaco nav-item">
                <a routerLink="cadastrar" class="nav-link" href="#"> <span class="fa fa-user">Cadastrar</span></a>
            </li>
            <li class="espaco nav-item">
                <a routerLink="consultar" class="nav-link" href="#"><span class="fa fa-list-alt">Histórico</span></a>
            </li>
            <li class="espaco nav-item">
                <a routerLink="editar" class="nav-link" href="#"><span class="fa fa-edit">Alterar</span></a>
            </li>
            <li class="espaco nav-item">
                <a routerLink="alugar" class="nav-link" href="#"><span class="fa fa-car">Alugar</span></a>
            </li>
        </ul>
    </div>
</nav>