<h1>Histórico do Cliente</h1>
<div class="row col-md-6" style="margin-left: 10%;">
    <div class="col-md-4">
        <p class="espacoImput">CPF do cliente</p>
        <input (keyup)="clienteCpf($event)" class="espacoImput form-control">
    </div>
    <div class="col-md-2">
        <p>&nbsp;&nbsp;</p>
        <button (click)="consultarCliente()" class="espacoImput btn btn-info">Pesquisar</button>
    </div>
</div>

<div *ngIf="mostraFormulario">

    <table class="row col-md-12 table table-responsive table-striped table-hover" style="margin-top: 2%; margin-left: 20%;">
        <tr>
            <td style="text-align: center;">Veículo</td>
            <td style="text-align: center;">Placa</td>
            <td style="text-align: center;">Data Locação</td>
            <td style="text-align: center;">Data Devolução</td>
            <td style="text-align: center;">Contrato</td>
        </tr>
        <tr *ngFor="let item of objetoFormulario;">
            <td style="width:250px; text-align: center;">{{item.veiculo}}</td>
            <td style="width:100px; text-align: center;">{{item.placa}}</td>
            <td style="width:150px; text-align: center;">{{item.dtLocacao}}</td>
            <td style="width:150px; text-align: center;">{{item.dtDevolucao}}</td>
            <td style="text-align: center;"><i style="font-size:24px; cursor: pointer;" (click)="pdf(item)" class="fa fa-file-pdf-o" aria-hidden="true"></i></td>
        </tr>
    </table>

</div>